<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="activePage='appointment'">

<head th:replace="~{layout/head :: head}"></head>
</head>

<body>
  <!--=================================
    header -->
  <header th:replace="~{layout/header :: header}"></header>
  <!--=================================
    header -->

  <!--=================================
    banner -->
  <section class="inner-banner bg-light">
    <div class="container">
      <div class="row align-items-center intro-title">
        <div class="col-12">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a th:href="@{/}"> <i class="fas fa-home"></i> </a></li>
            <li class="breadcrumb-item"> <i class="fas fa-chevron-right"></i> <a href="javascript:void(0)">portal
                clínico</a>
            </li>
            <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span> citas </span></li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
    banner -->

  <!--=================================
    Appointment Form -->
  <section class="space-pt  half-overlay right-position position-relative">
    <div class="container">
      <div class="row align-items-center mb-lg-0 mb-5">
        <div class="col-lg-5 text-center">
          <img class="img-fluid" th:src="@{/images/about/04.png}" alt="">
        </div>
        <div class="col-lg-7 position-relative">
          <div class="appointment-form">
            <h4 class="text-primary">Agenda tu cita ahora!</h4>
            <form class="mt-5">
              <div class="row align-items-center">
                <div class="form-group mb-3 col-md-6">
                  <input type="text" class="form-control" id="first-name" placeholder="Nombre" required>
                </div>
                <div class="form-group mb-3 col-md-6">
                  <input type="text" class="form-control" id="last-name" placeholder="Apellido" required>
                </div>
                <div class="form-group mb-3 col-md-6">
                  <input type="email" class="form-control" id="email" placeholder="Correo Electrónico" required>
                </div>
                <div class="form-group mb-3 col-md-6">
                  <input type="text" class="form-control" id="phone" placeholder="Teléfono" required>
                </div>
                <div class="form-group mb-3 col-lg-12">
                  <input type="text" class="form-control" id="address" placeholder="Dirección">
                </div>
                <!-- Province, canton, and district select elements -->
                <div class="form-group mb-3 select-border col-md-4">
                  <select class="form-control basic-select" id="provincia" name="provincia">
                    <option value="">Seleccione Provincia</option>
                    <option th:each="provincia : ${provincias}" th:value="${provincia.key}"
                      th:text="${provincia.value.nombre}">Provincia</option>
                  </select>
                </div>
                <div class="form-group mb-3 select-border col-md-4">
                  <select class="form-control basic-select" id="canton" name="canton" disabled>
                    <option value="">Seleccione Cantón</option>
                  </select>
                </div>
                <div class="form-group mb-3 select-border col-md-4">
                  <select class="form-control basic-select" id="distrito" name="distrito" disabled>
                    <option value="">Seleccione Distrito</option>
                  </select>
                </div>
                <!-- <div class="form-group mb-3 col-md-4">
                  <input type="text" class="form-control" id="zip" placeholder="Zip">
                </div> -->
                <div class="form-group mb-3 col-md-6 datetimepickers">
                  <label class="form-label text-dark">Seleccione la fecha</label>
                  <div class="input-group date" id="datetimepicker-01" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" placeholder="Fecha"
                      data-target="#datetimepicker-01" required>
                    <div class="input-group-append" data-target="#datetimepicker-01" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                    </div>
                  </div>
                </div>
                <div class="form-group mb-3 select-border col-md-6">
                  <label class="form-label text-dark">Seleccione la hora</label>
                  <div class="input-group date" id="datetimepicker-03" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" placeholder="Hora"
                      data-target="#datetimepicker-03" required />
                    <div class="input-group-append" data-target="#datetimepicker-03" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-sm-12">
                  <button type="submit" class="btn btn-primary">Agendar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
    Appointment Form -->

  <!--=================================
    Team -->
  <section class="overleaping-section-title bg-overlay-black-70 bg-holder"
    style="background-image: url(images/bg/04.jpg);">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-md-10 text-center position-relative">
          <div class="section-title center-divider mb-5">
            <span class="text-white">Team of professional</span>
            <h2 class="text-white">Our Outstanding Team Is Active To Help You!</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="overleaping-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-4 mb-md-0">
          <!-- team-01 START -->
          <div class="team">
            <div class="team-image">
              <img class="img-fluid b-radius-bottom-none" th:src="@{/images/team/01.jpg}" alt="">
              <div class="team-social">
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="team-detail b-radius-top-none">
              <span class="team-label">Cardiologist</span>
              <h4 class="team-title"><a href="team-single.html">Dr.Felica Queen</a></h4>
              <span class="team-phone">+(704) 279-1249</span>
              <span class="team-email">letstalk@medileaf.com</span>
            </div>
            <a class="icon-btn" href="#"><i class="fas fa-plus"></i></a>
          </div>
          <!-- team-01 END -->
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
          <!-- team-02 START -->
          <div class="team">
            <div class="team-image">
              <img class="img-fluid b-radius-bottom-none" th:src="@{/images/team/02.jpg}" alt="">
              <div class="team-social">
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="team-detail b-radius-top-none">
              <span class="team-label">Neurologist</span>
              <h4 class="team-title"><a href="team-single.html">Dr.Alice Williams</a></h4>
              <span class="team-phone">+(704) 279-1249</span>
              <span class="team-email">letstalk@medileaf.com</span>
            </div>
            <a class="icon-btn" href="#"><i class="fas fa-plus"></i></a>
          </div>
          <!-- team-02 END -->
        </div>
        <div class="col-md-4">
          <!-- team-03 START -->
          <div class="team">
            <div class="team-image">
              <img class="img-fluid b-radius-bottom-none" th:src="@{/images/team/03.jpg}" alt="">
              <div class="team-social">
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="team-detail b-radius-top-none">
              <span class="team-label">Physician Assistant</span>
              <h4 class="team-title"><a href="team-single.html">Dr.Michael Bean</a></h4>
              <span class="team-phone">+(704) 279-1249</span>
              <span class="team-email">letstalk@medileaf.com</span>
            </div>
            <a class="icon-btn" href="#"><i class="fas fa-plus"></i></a>
          </div>
          <!-- team-03 END -->
        </div>
      </div>
    </div>
  </section>
  <!--=================================
    Team -->

  <!--=================================
    Schedule -->
  <section class="space-pt mb-lg-n6 mb-md-n5 pb-0 pb-sm-4 pb-lg-0">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="schedule shadow">
            <div class="row g-0">
              <div class="col-lg-4">
                <div class="schedule-morden bg-white">
                  <div class="icon">
                    <i class="flaticon-emergency-call"></i>
                  </div>
                  <div class="schedule-morden-content">
                    <h6>Número de contacto</h6>
                    <span class="phone-number h4">+(506) 8955-4444 </span>
                    <p class="mb-0">Comunícate con nosotros para agendar tu cita o resolver cualquier duda. Estamos aquí
                      para ayudarte a recuperar tu bienestar.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="schedule-morden bg-white">
                  <div class="icon">
                    <i class="flaticon-clock"></i>
                  </div>
                  <div class="schedule-morden-content">
                    <h6>Horarios de atención</h6>
                    <div class="opening-hourse">
                      <ul class="list-unstyled">
                        <li>
                          <span>Lunes, Martes y Jueves</span>
                          <div class="time"> 09am - 7pm </div>
                        </li>
                        <li>
                          <span>Miércoles y Viernes</span>
                          <div class="time"> 09am - 5pm </div>
                        </li>
                        <li>
                          <span>Sábado y Domingo</span>
                          <div class="time"> Cerrado </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="schedule-morden last bg-white">
                  <div class="icon">
                    <i class="flaticon-calendar"></i>
                  </div>
                  <div class="schedule-morden-content">
                    <h6>Tabla de horario</h6>
                    <p class="mb-4">Consulta nuestro horario especifico y agenda tu cita con la doctora. Encuentra el
                      momento que mejor se adapte a ti.</p>
                    <a class="btn btn-outline-primary" href="timetable.html"><i class="fa fa-address-book"></i>Ver
                      Tabla</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
    Schedule -->

  <!--=================================
    footer -->
  <footer th:replace="~{layout/footer :: footer('space-lg-pt bg-light footer')}"></footer>
  <!--=================================
    footer -->

  <!--=================================
    Javascript -->

  <!-- JS Global Compulsory (Do not remove)-->
  <script src="js/jquery-3.6.0.min.js"></script>
  <script src="js/popper/popper.min.js"></script>
  <script src="js/bootstrap/bootstrap.min.js"></script>

  <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
  <script src="js/select2/select2.full.js"></script>
  <script src="js/datetimepicker/moment.min.js"></script>
  <script src="js/datetimepicker/datetimepicker.min.js"></script>

  <!-- Template Scripts (Do not remove)-->
  <script src="js/custom.js"></script>

</body>

</html>