<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <!--=================================
    footer -->
    <footer th:fragment="footer(className)" th:class="${className}" class="space-pt footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <a th:href="@{/}" class="footer-logo"><img class="img-fluid" th:src="@{/images/logo.svg}"
                            alt=""></a>
                    <p>There’s nothing in this story to make us think he was dreaming about riches.</p>
                    <div class="social-icon mt-3 mt-md-5">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-github"></i></a></li>
                            <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
                    <h6 class="text-primary">Useful Links</h6>
                    <div class="footer-useful-List">
                        <ul class="list-unstyled mb-0">
                            <li><a href="about-us.html">About</a></li>
                            <li><a href="team.html">Team</a></li>
                            <li><a href="before-after.html">Before After</a></li>
                            <li><a href="cost-calculator.html">Cost Calculator</a></li>
                            <li><a href="working-hours.html">Working Hours</a></li>
                        </ul>
                        <ul class="list-unstyled mb-0">
                            <li><a href="appointment.html">Appointment</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="timetable.html">Timetable</a></li>
                            <li><a href="departments.html">Departments</a></li>
                            <li><a href="contact-us.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
                    <h6 class="text-primary">Our Newsletter</h6>
                    <div class="footer-contact-info">
                        <ul class="list-unstyled mb-0">
                            <li><i class="fas fa-fw fa-map-marker-alt text-primary"></i><span>594 E. Whitemarsh Street
                                    Mchenry, IL
                                    60050</span></li>
                            <li><i class="fas fa-fw fa-phone-alt text-primary"></i><span>0123-456-789</span></li>
                        </ul>
                    </div>
                    <div class="footer-subscribe">
                        <p>Sign up to our newsletter to get the latest news and offers.</p>
                        <form>
                            <div class="mb-3">
                                <input type="email" class="form-control" placeholder="Enter your email">
                            </div>
                            <button type="submit" class="btn btn-primary"><i class="far fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
                    <h6 class="text-primary">Opening Hours</h6>
                    <div class="opening-time">
                        <ul class="list-unstyled">
                            <li><i class="far fa-clock pe-1 text-primary"></i> Mon - Tue<span class="float-end">08:30 -
                                    18:30</span>
                            </li>
                            <li><i class="far fa-clock pe-1 text-primary"></i> Wed- Thu<span class="float-end">08:30 -
                                    18:30</span>
                            </li>
                            <li><i class="far fa-clock pe-1 text-primary"></i> Friday<span class="float-end">08:30 -
                                    18:30</span></li>
                            <li><i class="far fa-clock pe-1 text-primary"></i> Saturday<span class="float-end">08:30 -
                                    18:30</span>
                            </li>
                            <li><i class="far fa-clock pe-1 text-primary"></i> Sunday<span class="float-end">09:30 -
                                    15:30</span></li>
                            <li class="text-primary">Emergency<span class="float-end">24 hours</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 text-center copyright text-md-start mb-3 mb-md-0">
                        <p class="mb-0"> &copy; Copyright <span id="copyright">
                                <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                            </span> <a href="index.html"> medileaf </a> All Rights Reserved</p>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="">
                            <ul class="list-unstyled list-inline mb-0">
                                <li class="list-inline-item mb-0"><a href="terms-and-conditions.html">Terms &
                                        Conditions</a></li>
                                <li class="list-inline-item mb-0"><a href="#">FAQ</a></li>
                                <li class="list-inline-item"><a href="privacy-policy.html">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--=================================
    footer -->

    <!--=================================
    Javascript -->
    <div th:replace="~{fragments :: common-scripts}"></div>
</body>

</html>