<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <!--=================================
    footer -->
    <footer th:fragment="footer(className)" th:class="${className}" class="space-pt footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <!-- <a th:href="@{/}" class="footer-logo"><img class="img-fluid" th:src="@{/images/logo.svg}"alt=""></a> -->
                    <h3 class="text-primary">Clinica Rajem</h3>
                    <p class="mt-5">Mejora tu calidad de vida con un cuidado experto y a tu medida.</p>
                    <div class="social-icon mt-3 mt-md-6">
                        <ul>
                            <li><a href="https://www.facebook.com/p/Cl%C3%ADnica-Rajem-61560618930313/?locale=fr_CA"
                                    target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://www.instagram.com/clinicarajem/" target="_blank"
                                    rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://wa.me/message/U4CGOTTKMNI7O1" target="_blank"
                                    rel="noopener noreferrer"><i class="fab fa-whatsapp"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
                    <h6 class="text-primary">Enlaces Útiles</h6>
                    <div class="footer-useful-List">
                        <ul class="list-unstyled mb-0">
                            <li><a href="index.html">Inicio</a></li>
                            <li><a href="about-us.html">Sobre Nosotros</a></li>
                            <li><a href="team.html">Sobre Mí</a></li>
                            <li><a href="before-after.html">Galería</a></li>
                            <li><a href="cost-calculator.html">Servicio</a></li>
                        </ul>
                        <ul class="list-unstyled mb-0">
                            <li><a href="appointment.html">Citas</a></li>
                            <li><a href="gallery.html">Calendario</a></li>
                            <li><a href="timetable.html">Horarios</a></li>
                            <li><a href="departments.html">Departamentos</a></li>
                            <li><a href="contact-us.html">Contacto</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
                    <h6 class="text-primary">Suscríbete</h6>
                    <div class="footer-contact-info">
                        <ul class="list-unstyled mb-0">
                            <li><i class="fas fa-fw fa-map-marker-alt text-primary"></i><span>Clínica CAOBA, Ciudad
                                    Quesada, San Carlos.</span></li>
                            <li><i class="fas fa-fw fa-phone-alt text-primary"></i><span>+(506) 8955-4444</span></li>
                        </ul>
                    </div>
                    <div class="footer-subscribe">
                        <p>Suscríbase a nuestro boletín para recibir las últimas noticias y ofertas.</p>
                        <form>
                            <div class="mb-3">
                                <input type="email" class="form-control" placeholder="Correo Electrónico" required="">
                            </div>
                            <button type="submit" class="btn btn-primary"><i class="far fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
                    <h6 class="text-primary">Horarios Disponibles</h6>
                    <div class="opening-time">
                        <ul class="list-unstyled">
                            <li><i class="far fa-clock pe-1 text-primary"></i> Lun, Mar y Jue<span
                                    class="float-end">09:00 -
                                    19:00</span>
                            </li>
                            <li><i class="far fa-clock pe-1 text-primary"></i> Mié y Vie<span class="float-end">09:00 -
                                    17:00</span>
                            </li>
                            <li><i class="far fa-clock pe-1 text-primary"></i> Sáb<span class="float-end">Cerrado</span>
                            </li>
                            <li><i class="far fa-clock pe-1 text-primary"></i> Dom<span class="float-end">Cerrado</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 text-center copyright text-md-start mb-3 mb-md-0">
                        <p class="mb-0"> &copy; Copyright <span id="copyright">
                                <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                            </span> <a href="index.html"> medileaf (Julian Clot) </a> Todos los derechos reservados.</p>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="">
                            <ul class="list-unstyled list-inline mb-0">
                                <li class="list-inline-item mb-0"><a href="terms-and-conditions.html">Términos y
                                        Condiciones</a></li>
                                <li class="list-inline-item mb-0"><a href="#">FAQ</a></li>
                                <li class="list-inline-item"><a href="privacy-policy.html">Política de Privacidad</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--=================================
    footer -->

    <!--=================================
    Javascript -->
    <div th:replace="~{fragments :: common-scripts}"></div>
</body>

</html>