<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MJFPBG6S');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="keywords" th:content="${keywords}" content="Physiotherapy Clinic" />
    <meta name="description" th:content="${description}" content="Clinica Rajem" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Clinica Rajem</title>

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/images/uterus.png}" href="images/uterus.png" />

    <!-- Google Font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap"
        rel="stylesheet" />

    <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" th:href="@{/css/font-awesome/all.min.css}" href="css/font-awesome/all.min.css" />
    <link rel="stylesheet" th:href="@{/css/flaticon/flaticon.css}" href="css/flaticon/flaticon.css" />
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a2b85f9d26.js" crossorigin="anonymous"></script> -->



    <!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature)-->
    <link rel="stylesheet" th:href="@{/css/owl-carousel/owl.carousel.min.css}"
        href="css/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" th:href="@{/css/magnific-popup/magnific-popup.css}"
        href="css/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="css/select2/select2.css" />
    <link rel="stylesheet" href="css/datetimepicker/datetimepicker.min.css" />


    <!-- Template Style -->
    <link rel="stylesheet" th:href="@{/css/style.css}" href="css/style.css" />
</head>

</html>