<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="activePage='service'">

<head th:replace="~{layout/head :: head}"></head>

<body>
  <!--=================================
    header -->
  <header th:replace="~{layout/header :: header}"></header>
  <!--=================================
    header -->

  <!--=================================
    banner -->
  <section class="inner-banner bg-light">
    <div class="container">
      <div class="row align-items-center intro-title">
        <div class="col-12">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a th:href="@{/}"> <i class="fas fa-home"></i> </a></li>
            <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span>servicios</span></li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
    banner -->

  <!--=================================
    Service -->
  <section class="space-ptb">
    <div class="container">
      <div class="row justify-content-start">
        <div class="col-lg-10">
          <div class="section-title left-divider">
            <span>Nuestros servicios en clínica rajem</span>
            <h2>Creemos que el corazón de la salud es el servicio a los demás</h2>
          </div>
          <div class="row mt-lg-5">
            <div class="col-md-4 mb-5">
              <div class="feature-items pe-lg-5">
                <div class="feature-icon">
                  <i class="flaticon-ambulance"></i>
                </div>
                <div class="feature-content">
                  <h6>Rehabilitación del Suelo Pélvico</h6>
                  <p class="mb-0">Abordaje holístico para corregir alteraciones del suelo pélvico. Mediante ejercicios terapéuticos y fortalecimiento muscular, se tratan condiciones como incontinencia urinaria, dolor pélvico y prolapsos, mejorando la calidad de vida y previniendo complicaciones.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-5">
              <div class="feature-items pe-lg-5">
                <div class="feature-icon">
                  <i class="flaticon-tooth"></i>
                </div>
                <div class="feature-content">
                  <h6>Terapia Músculo-Esquelética y Articular</h6>
                  <p class="mb-0">Enfocada en la evaluación y tratamiento de disfunciones musculares y articulares. Con técnicas manuales, ejercicios y modalidades terapéuticas, se corrigen desequilibrios, disminuye el dolor y se promueve una recuperación funcional óptima.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-5">
              <div class="feature-items pe-lg-5">
                <div class="feature-icon">
                  <i class="flaticon-microscope"></i>
                </div>
                <div class="feature-content">
                  <h6>Atención Postquirúrgica y Recuperación Materna</h6>
                  <p class="mb-0">Proceso esencial para recuperar movilidad y bienestar tras cirugías como histerectomías, episiotomías y cesáreas. Además, nuestro programa de embarazo fortalece músculos, mejora la postura y facilita una recuperación postparto eficaz.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-5 mb-md-0">
              <div class="feature-items pe-lg-5">
                <div class="feature-icon">
                  <i class="flaticon-baby-boy"></i>
                </div>
                <div class="feature-content">
                  <h6>Rehabilitación Abdominal y Genitourinaria</h6>
                  <p class="mb-0">Fortalecemos la musculatura abdominal y del suelo pélvico mediante ejercicios y reeducación postural para tratar diástasis, incontinencia y dolor pélvico, mejorando funcionalidad y calidad de vida en hombres y mujeres.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-5 mb-md-0">
              <div class="feature-items pe-lg-5">
                <div class="feature-icon">
                  <i class="flaticon-transfusion"></i>
                </div>
                <div class="feature-content">
                  <h6>Rehabilitación en Coloproctología</h6>
                  <p class="mb-0">Restauramos la función intestinal y anorrectal con ejercicios específicos y técnicas manuales. Esto ayuda a reducir el dolor y mejorar la funcionalidad pélvica, promoviendo una recuperación completa y segura.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature-items pe-lg-5">
                <div class="feature-icon">
                  <i class="flaticon-liquid-soap"></i>
                </div>
                <div class="feature-content">
                  <h6>Disfunciones Sexuales Terapéuticas</h6>
                  <p class="mb-0">Tratamiento para mejorar la función sexual en hombres y mujeres. Con fortalecimiento muscular, relajación y reeducación postural, se abordan dispareunia, vaginismo y anorgasmia en mujeres, y disfunción eréctil.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="stethoscope-img">
          <img class="img-fluid d-none d-lg-block" src="images/stethoscope.png" alt="">
        </div>
      </div>
    </div>
  </section>
  <!--=================================
    Service -->

  <!--=================================
    How it Works -->
  <section class="space-ptb bg-primary" style="background-image: url(images/pattern.png);">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-9 col-md-10 text-center">
          <div class="section-title center-divider mb-5">
            <span class="text-white">Nos importa tu bienestar</span>
            <h2 class="text-white">¡Hacemos lo mejor para brindarte un servicio de excelencia!</h2>
            <p class="text-white">En Clínica RAJEM, nuestro objetivo es ayudarte a mejorar tu calidad de vida a través de una atención integral y especializada. Con más de 18 años de experiencia, somos líderes en el tratamiento de las patologías del suelo pélvico, abarcando tanto a hombres como a mujeres.

            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-md-0 mb-4">
          <div class="feature-step text-center">
            <div class="feature-step-icon">
              <span class="feature-step-number">01</span>
              <i class="flaticon-electrocardiogram"></i>
            </div>
            <div class="feature-info-content">
              <h6 class="feature-info-title mb-2 text-white">Educación y Prevención</h6>
              <p class="text-white mb-0">Empoderamos a nuestros pacientes con información y estrategias para prevenir complicaciones, promoviendo hábitos saludables.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-md-0 mb-4">
          <div class="feature-step text-center">
            <div class="feature-step-icon">
              <span class="feature-step-number">02</span>
              <i class="flaticon-insurance"></i>
            </div>
            <div class="feature-info-content">
              <h6 class="feature-info-title mb-2 text-white">Accesibilidad y Comunicación</h6>
              <p class="text-white mb-0">Facilitamos el contacto a través de múltiples canales, asegurando respuestas rápidas y una comunicación fluida durante todo el proceso terapéutico.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="feature-step text-center">
            <div class="feature-step-icon">
              <span class="feature-step-number">03</span>
              <i class="flaticon-24-hours"></i>
            </div>
            <div class="feature-info-content">
              <h6 class="feature-info-title mb-2 text-white">Seguimiento y Evaluación Continua</h6>
              <p class="text-white mb-0">Realizamos evaluaciones regulares para ajustar el plan de tratamiento según tu progreso, garantizando resultados efectivos y duraderos.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
    How it Works -->

  <!--=================================
    Feature -->
  <!-- <section class="space-ptb">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-md-10 text-center">
          <div class="section-title center-divider mb-5">
            <span class="text-secondary">Why choose people like Medleaf</span>
            <h2 class="text-dark">Our Equipped Team Is Able To Support You!</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 text-center mb-md-0 mb-4">
          <div class="service-items">
            <div class="service-img">
              <img class="img-fluid" src="images/service/01.jpg" alt="">
            </div>
            <div class="service-content">
              <span>Cloud Services</span>
              <h5><a href="service-detail.html">Experienced Physicians</a></h5>
              <p>Every outcome begins with the first step. When you decide you want to have a romantic meal for two</p>
              <a class="icon-btn" href="service-detail.html"><i class="fas fa-plus"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center mb-md-0 mb-4">
          <div class="service-items">
            <div class="service-img">
              <img class="img-fluid" src="images/service/02.jpg" alt="">
            </div>
            <div class="service-content">
              <span>Cloud Services</span>
              <h5><a href="service-detail.html">Personalized Treatment</a></h5>
              <p>It’s the life you are designing instead of the one that was given you and that you have lived with less
                intention</p>
              <a class="icon-btn" href="service-detail.html"><i class="fas fa-plus"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="service-items">
            <div class="service-img">
              <img class="img-fluid" src="images/service/03.jpg" alt="">
            </div>
            <div class="service-content">
              <span>Cloud Services</span>
              <h5><a href="service-detail.html">Quality and Safety</a></h5>
              <p>This is the beginning of creating the life that you want to live. Know what the future holds for you as
                a result</p>
              <a class="icon-btn" href="service-detail.html"><i class="fas fa-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!--=================================
    Feature -->

  <!--=================================
    footer -->
  <footer th:replace="~{layout/footer :: footer(className='space-pt bg-light footer')}"></footer>
  <!--=================================
    footer -->

  <!--=================================
    Javascript -->
  <div th:replace="~{fragments :: common-scripts}"></div>
</body>

</html>