<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="keywords" content="HTML5 Template" />
  <meta name="description" content="Medileaf - Health and Medical HTML Template" />
  <meta name="author" content="potenzaglobalsolutions.com" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Medileaf - Health and Medical HTML Template</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="images/favicon.ico" />

  <!-- Google Font -->
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap"
    rel="stylesheet">

  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" th:href="@{/css/font-awesome/all.min.css}" />
  <link rel="stylesheet" th:href="@{/css/flaticon/flaticon.css}" />
  <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" />

  <!-- Page CSS Implementing Plugins -->
  <link rel="stylesheet" th:href="@{/css/owl-carousel/owl.carousel.min.css}" />

  <!-- Template Style -->
  <link rel="stylesheet" th:href="@{/css/style.css}" />

</head>

<body>
  <!--=================================
    header -->
  <header th:replace="~{layout/header :: header}"></header>
  <!--=================================
    header -->

  <!--=================================
    banner -->
  <section class="inner-banner bg-light">
    <div class="container">
      <div class="row align-items-center intro-title">
        <div class="col-12">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="index.html"> <i class="fas fa-home"></i> </a></li>
            <li class="breadcrumb-item"> <i class="fas fa-chevron-right"></i> <a href="service.html">Service</a></li>
            <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span> Service Detail </span></li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
    banner -->

  <!--=================================
    Service-->
  <section class="space-ptb">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <!-- Service-detail -->
          <div class="service-detail">
            <div class="section-title left-divider">
              <span class="text-primary">Anesthetics</span>
              <h3 class="text-dark">Excellence And Safety</h3>
            </div>
            <div class="service-img mb-4">
              <img class="img-fluid" th:src="@{/images/service/05.jpg}" alt="">
            </div>
            <div class="service-content mb-4 mb-md-5">
              <p class="mb-4">We all carry a lot of baggage, thanks to our upbringing. The majority of people carry with
                them, an entire series of self-limiting beliefs that will absolutely stop, and hold them back from,
                success. Things like “I’m not good enough”, “I’m not smart enough”, “I’m not lucky enough”, and the
                worst, “I’m not worthy” are but a few of the self-limiting beliefs I have encountered. We carry them
                with us like rocks in a knapsack, and then use them to sabotage our success. So, how twisted is that?!?!
              </p>
              <div class="row mb-4">
                <div class="col-md-6">
                  <ul class="list-unstyled mb-0">
                    <li class="mb-2 d-flex"><i class="far fa-plus-square pe-2 text-primary mt-1"></i>Get the oars in the
                      water and start rowing</li>
                    <li class="mb-2 d-flex"><i class="far fa-plus-square pe-2 text-primary mt-1"></i>Success is
                      something of which we all want more.</li>
                    <li class="mb-2 d-flex"><i class="far fa-plus-square pe-2 text-primary mt-1"></i>Execution is the
                      single biggest factor</li>
                    <li class="mb-2 d-flex"><i class="far fa-plus-square pe-2 text-primary mt-1"></i>The best way is to
                      develop and follow a plan.</li>
                    <li class="mb-2 d-flex"><i class="far fa-plus-square pe-2 text-primary mt-1"></i>Most people believe
                      that success is difficult.</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="list-unstyled">
                    <li class="mb-2 d-flex"><i class="far fa-plus-square pe-2 text-primary mt-1"></i>The old expression
                      is absolutely true</li>
                    <li class="mb-2 d-flex"><i class="far fa-plus-square pe-2 text-primary mt-1"></i>It is truly amazing
                      the damage that we</li>
                    <li class="mb-2 d-flex"><i class="far fa-plus-square pe-2 text-primary mt-1"></i>Figure out what you
                      want</li>
                    <li class="mb-2 d-flex"><i class="far fa-plus-square pe-2 text-primary mt-1"></i>Was this just
                      another little prank</li>
                    <li class="mb-0 d-flex"><i class="far fa-plus-square pe-2 text-primary mt-1"></i>We all carry a lot
                      of baggage</li>
                  </ul>
                </div>
              </div>
              <div>
                <h4 class="text-dark mb-4">Connect with Doctor near you and find the one that’s right for your patient.
                </h4>
                <p>One of the main areas that I work on with my clients is shedding these non-supportive beliefs and
                  replacing them with beliefs that will help them to accomplish their desires.</p>
              </div>
            </div>
            <div class="owl-carousel" data-nav-dots="false" data-nav-arrow="false" data-items="1" data-md-items="1"
              data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="30" data-autoheight="true">
              <!-- Testimonial-01 START -->
              <div class="item">
                <div class="testimonial-item text-center">
                  <div class="testimonial-avatar">
                    <img class="img-fluid rounded-circle" th:src="@{/images/avatar/09.jpg}" alt="">
                  </div>
                  <div class="testimonial-content">
                    I have gotten at least 50 times the value from Medileaf. I will let my mum know about this, she
                    could really make use of Medileaf! Wow what great service, I love it! Medileaf is the real deal!
                  </div>
                  <div class="testimonial-author">
                    <div class="testimonial-name">
                      <div class="testimonial-quote">
                        <i class="flaticon-left-quote"></i>
                      </div>
                      <h6 class="mb-1">Alice Williams</h6>
                      <span>- Mothers</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Testimonial-01 END -->

              <!-- Testimonial-02 START -->
              <div class="item">
                <div class="testimonial-item text-center">
                  <div class="testimonial-avatar">
                    <img class="img-fluid rounded-circle" th:src="@{/images/avatar/03.jpg}" alt="">
                  </div>
                  <div class="testimonial-content">
                    We've seen amazing results already. Since I invested in Medileaf I made over 100,000 dollars
                    profits. It's the perfect solution for our business. I was amazed at the quality of Medileaf.
                  </div>
                  <div class="testimonial-author">
                    <div class="testimonial-name">
                      <div class="testimonial-quote">
                        <i class="flaticon-left-quote"></i>
                      </div>
                      <h6 class="mb-1">Paul Flavius</h6>
                      <span>- Surgery client.</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Testimonial-02 END -->

              <!-- Testimonial-03 START -->
              <div class="item">
                <div class="testimonial-item text-center">
                  <div class="testimonial-avatar">
                    <img class="img-fluid rounded-circle" th:src="@{/images/avatar/05.jpg}" alt="">
                  </div>
                  <div class="testimonial-content">
                    I love Medileaf. I have gotten at least 50 times the value from Medileaf. I STRONGLY recommend
                    Medileaf to EVERYONE interested in running a successful online business!
                  </div>
                  <div class="testimonial-author">
                    <div class="testimonial-name">
                      <div class="testimonial-quote">
                        <i class="flaticon-left-quote"></i>
                      </div>
                      <h6 class="mb-1">Felica Queen</h6>
                      <span>- Cancer client.</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Testimonial-03 END -->
            </div>
            <!-- Testimonial -->
          </div>
          <!-- Service-detail -->
        </div>
        <div class="col-lg-4 mt-5 mt-lg-0">
          <!-- Sidebar -->
          <div class="sidebar">
            <!-- search -->
            <div class="widget">
              <div class="search">
                <i class="fas fa-search"></i>
                <input type="text" class="form-control" placeholder="Search">
              </div>
            </div>
            <!-- search -->

            <!-- Our Services -->
            <div class="widget">
              <div class="widget-title">
                <h4>Our Services</h4>
              </div>
              <div class="widget-services">
                <ul class="list-unstyled list-style list-style-underline mb-0">
                  <li><a href="#">Anesthetics</a></li>
                  <li><a href="#">Breast Screening</a></li>
                  <li><a href="#">Cardiology</a></li>
                  <li><a href="#">Gastroenterology</a></li>
                  <li><a href="#">Gynecology</a></li>
                  <li><a href="#">Neurology</a></li>
                  <li><a href="#">Orthopedics</a></li>
                  <li><a href="#">Physiotherapy</a></li>
                </ul>
              </div>
            </div>
            <!-- Our Services -->

            <!-- Work Time -->
            <div class="widget">
              <div class="widget-title">
                <h4>Work Time</h4>
              </div>
              <div class="widget-worktime">
                <ul class="list-unstyled list-style list-style-underline mb-0">
                  <li><span class="day">Monday</span><span class="time">10:00 - 07:30</span></li>
                  <li><span class="day">Tuesday</span><span class="time">10:00 - 07:30</span></li>
                  <li><span class="day">Wednesday</span><span class="time">10:00 - 07:30</span></li>
                  <li><span class="day">Thursday</span><span class="time">10:00 - 07:30</span></li>
                  <li><span class="day">Friday</span><span class="time">10:00 - 07:30</span></li>
                  <li><span class="day">Saturday</span><span class="time">10:00 - 07:30</span></li>
                  <li><span class="day">Sunday</span><span class="time">Close</span></li>
                </ul>
              </div>
            </div>
            <!-- Work Time -->

            <!-- Contact Info -->
            <div class="widget">
              <div class="widget-title">
                <h4>Contact Info</h4>
              </div>
              <div class="widget-contact-info">
                <ul class="list-unstyled list-style mb-0">
                  <li><i class="fas fa-map-marker-alt text-primary"></i><span>Fairground St. North Bergen, NJ</span>
                  </li>
                  <li><i class="fas fa-phone-alt text-primary"></i><span>+91 123 456 7890</span></li>
                  <li><i class="fas fa-envelope-open-text text-primary"></i><span>helpcenter@medileaf.com</span></li>
                </ul>
              </div>
            </div>
            <!-- Contact Info -->

            <!-- Care Services -->
            <div class="widget bg-primary" style="background-image: url(images/pattern.png);">
              <div class="widget-services-care text-center">
                <div class="services-care-icon mb-3"><i class="flaticon-support"></i></div>
                <h3 class="services-care-title text-white mb-4">Medical Care Services</h3>
                <a href="contact-us.html" class="btn btn-white">Contact us</a>
              </div>
            </div>
            <!-- Care Services -->

          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
    Service-->

  <!--=================================
    Clients -->
  <section class="space-pb clients">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <!-- Owl-carousel -->
          <div class="owl-carousel bg-light p-4" data-nav-arrow="false" data-items="5" data-md-items="4"
            data-sm-items="3" data-xs-items="2" data-xx-items="1" data-space="30" data-autoheight="true">
            <!-- Client-01 START -->
            <div class="item">
              <img class="img-fluid center-block mx-auto" th:src="@{/images/client/01.svg}" alt="">
            </div>
            <!-- Client-01 END -->

            <!-- Client-02 START -->
            <div class="item">
              <img class="img-fluid center-block mx-auto" th:src="@{/images/client/02.svg}" alt="">
            </div>
            <!-- Client-02 END -->

            <!-- Client-03 START -->
            <div class="item">
              <img class="img-fluid center-block mx-auto" th:src="@{/images/client/03.svg}" alt="">
            </div>
            <!-- Client-03 END -->

            <!-- Client-04 START -->
            <div class="item">
              <img class="img-fluid center-block mx-auto" th:src="@{/images/client/04.svg}" alt="">
            </div>
            <!-- Client-04 END -->

            <!-- Client-05 START -->
            <div class="item">
              <img class="img-fluid center-block mx-auto" th:src="@{/images/client/05.svg}" alt="">
            </div>
            <!-- Client-05 END -->

            <!-- Client-06 START -->
            <div class="item">
              <img class="img-fluid center-block mx-auto" th:src="@{/images/client/06.svg}" alt="">
            </div>
            <!-- Client-06 END -->

            <!-- Client-07 START -->
            <div class="item">
              <img class="img-fluid center-block mx-auto" th:src="@{/images/client/07.svg}" alt="">
            </div>
            <!-- Client-07 END -->
          </div>
          <!-- Owl-carousel -->
        </div>
      </div>
    </div>
  </section>
  <!--=================================
    Clients -->

  <!--=================================
    footer-->
  <footer th:replace="~{layout/footer :: footer}"></footer>
  <!--=================================
    footer-->

  <!--=================================
    Javascript -->
  <div th:replace="~{fragments :: common-scripts}"></div>
</body>

</html>