<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

    <!-- Fragmento para scripts comunes -->
    <div th:fragment="common-scripts">
        <!-- JS Global Compulsory -->
        <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
        <script th:src="@{/js/popper/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>

        <!-- Page JS Plugins -->
        <script th:src="@{/js/jquery.appear.js}"></script>
        <script th:src="@{/js/counter/jquery.countTo.js}"></script>
        <script th:src="@{/js/owl-carousel/owl.carousel.min.js}"></script>
        <script th:src="@{/js/magnific-popup/jquery.magnific-popup.min.js}"></script>

        <!-- Template JS -->
        <script th:src="@{/js/custom.js}"></script>
    </div>

</body>

</html>