<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="activePage='workinghours'">

<head th:replace="~{layout/head :: head}"></head>

<body>

  <!--=================================
    header -->
  <header th:replace="~{layout/header :: header}"></header>
  <!--=================================
    header -->

  <!--=================================
    banner -->
  <section class="inner-banner bg-light">
    <div class="container">
      <div class="row align-items-center intro-title">
        <div class="col-12">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a th:href="@{/}"> <i class="fas fa-home"></i> </a></li>
            <li class="breadcrumb-item"> <i class="fas fa-chevron-right"></i> <a href="javascript:void(0)">portal
                clínico</a>
            </li>
            <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span> horarios</span></li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
    banner -->

  <!--=================================
    Service -->
  <section class="space-ptb">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <!-- Sidebar -->
          <div class="sidebar">
            <!-- Work Time -->
            <div class="widget">
              <div class="widget-title">
                <h4>Horario de trabajo</h4>
              </div>
              <div class="widget-worktime">
                <ul class="list-unstyled list-style list-style-underline mb-0">
                  <li><span class="day">Lunes</span><span class="time">9am - 7pm</span></li>
                  <li><span class="day">Martes</span><span class="time">9am - 7pm</span></li>
                  <li><span class="day">Míercoles</span><span class="time">9am - 5pm</span></li>
                  <li><span class="day">Jueves</span><span class="time">9am - 7pm</span></li>
                  <li><span class="day">Viernes</span><span class="time">9am - 5pm</span></li>
                  <li><span class="day">Sábado</span><span class="time">Cerrado</span></li>
                  <li><span class="day">Domingo</span><span class="time">Cerrado</span></li>
                </ul>
              </div>
            </div>
            <!-- Work Time -->

            <!-- Care Services -->
            <div class="widget bg-primary" style="background-image: url(images/pattern.png);">
              <div class="widget-services-care text-center">
                <div class="services-care-icon mb-3"><i class="flaticon-support"></i></div>
                <h3 class="services-care-title text-white mb-4">Servicios de atención médica</h3>
                <a th:href="@{/contact}" class="btn btn-white">Contáctanos</a>
              </div>
            </div>
            <!-- Care Services -->
          </div>
        </div>
        <div class="col-lg-8 mt-lg-0 mt-5">
          <div class="ms-lg-5">
            <div class="section-title">
              <h2>Excelencia en el cuidado integral</h2>
              <p>Cultivamos el bienestar personal con una atención humana y comprometida. Nuestra filosofía se basa en
                la empatía, la comunicación clara y la dedicación total para transformar la vida de nuestros pacientes.
                Cada intervención se realiza con una mezcla de experiencia, sensibilidad y pasión, asegurando un cuidado
                integral que potencia la confianza y la superación personal.</p>
            </div>
            <div class="row">
              <!-- Service-01 START -->
              <div class="col-md-6 mb-5">
                <div class="feature-items">
                  <div class="feature-icon">
                    <i class='fas fa-hand-holding-heart'></i>
                  </div>
                  <div class="feature-content">
                    <h6>Empatía y escucha activa</h6>
                    <p class="mb-0">Fomentamos un ambiente cálido donde cada paciente se sienta comprendido y
                      acompañado. Nos centramos en escuchar detalladamente, entendiendo las necesidades individuales
                      para ofrecer soluciones que respeten la singularidad independientemente de cada persona.</p>
                  </div>
                </div>
              </div>
              <!-- Service-01 END -->

              <!-- Service-02 START -->
              <div class="col-md-6 mb-5">
                <div class="feature-items">
                  <div class="feature-icon">
                    <i class='fas fa-people-carry'></i>
                  </div>
                  <div class="feature-content">
                    <h6>Compromiso y profesionalismo</h6>
                    <p class="mb-0">Nos distinguimos por una dedicación inquebrantable hacia el bienestar, combinando la
                      experticia técnica con un profundo sentido de responsabilidad. La seriedad y el rigor en cada
                      tratamiento garantizan la mejora continua y el respeto por los procesos de cada persona.</p>
                  </div>
                </div>
              </div>
              <!-- Service-02 END -->

              <!-- Service-03 START -->
              <div class="col-md-6 mb-5 mb-md-0">
                <div class="feature-items">
                  <div class="feature-icon">
                    <i class='fas fa-search'></i>
                  </div>
                  <div class="feature-content">
                    <h6>Innovación y adaptabilidad</h6>
                    <p class="mb-0">Apostamos por la evolución constante y la incorporación de métodos avanzados que se
                      adaptan a las demandas cambiantes de la salud. Nuestra actitud abierta y flexible nos permite
                      ajustar las intervenciones para alcanzar resultados óptimos en cada uno de los casos.</p>
                  </div>
                </div>
              </div>
              <!-- Service-03 END -->

              <!-- Service-04 START -->
              <div class="col-md-6 ">
                <div class="feature-items">
                  <div class="feature-icon">
                    <i class='fas fa-clipboard-list'></i>
                  </div>
                  <div class="feature-content">
                    <h6>Cuidado integral y personalizado</h6>
                    <p class="mb-0">Ofrecemos un enfoque holístico que integra la atención física y emocional,
                      asegurando una respuesta personalizada en cada tratamiento. La dedicación en el seguimiento y la
                      atención individualizada refuerzan el compromiso de acompañarte en cada paso hacia una vida plena.
                    </p>
                  </div>
                </div>
              </div>
              <!-- Service-04 END -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
    Service -->

  <!--=================================
    footer -->
  <footer th:replace="~{layout/footer :: footer(className='space-pt bg-light footer')}"></footer>
  <!--=================================
    footer -->

  <!--=================================
    Javascript -->
  <div th:replace="~{fragments :: common-scripts}"></div>
</body>

</html>