<!DOCTYPE html>
<html lang="en" th:with="activePage='workinghours'">

<head th:replace="~{layout/head :: head}"></head>

<body>

  <!--=================================
    header -->
  <header th:replace="~{layout/header :: header}"></header>
  <!--=================================
    header -->

  <!--=================================
    banner -->
  <section class="inner-banner bg-light">
    <div class="container">
      <div class="row align-items-center intro-title">
        <div class="col-12">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a th:href="@{/}"> <i class="fas fa-home"></i> </a></li>
            <li class="breadcrumb-item"> <i class="fas fa-chevron-right"></i> <a href="javascript:void(0)">portal
                clínico</a>
            </li>
            <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span> horarios</span></li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
    banner -->

  <!--=================================
    Service -->
  <section class="space-ptb">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <!-- Sidebar -->
          <div class="sidebar">
            <!-- Work Time -->
            <div class="widget">
              <div class="widget-title">
                <h4>Work Time</h4>
              </div>
              <div class="widget-worktime">
                <ul class="list-unstyled list-style list-style-underline mb-0">
                  <li><span class="day">Monday</span><span class="time">10:00 - 07:30</span></li>
                  <li><span class="day">Tuesday</span><span class="time">10:00 - 07:30</span></li>
                  <li><span class="day">Wednesday</span><span class="time">10:00 - 07:30</span></li>
                  <li><span class="day">Thursday</span><span class="time">10:00 - 07:30</span></li>
                  <li><span class="day">Friday</span><span class="time">10:00 - 07:30</span></li>
                  <li><span class="day">Saturday</span><span class="time">10:00 - 07:30</span></li>
                  <li><span class="day">Sunday</span><span class="time">Close</span></li>
                </ul>
              </div>
            </div>
            <!-- Work Time -->

            <!-- Care Services -->
            <div class="widget bg-primary" style="background-image: url(images/pattern.png);">
              <div class="widget-services-care text-center">
                <div class="services-care-icon mb-3"><i class="flaticon-support"></i></div>
                <h3 class="services-care-title text-white mb-4">Medical Care Services</h3>
                <a href="contact-us.html" class="btn btn-white">Contact us</a>
              </div>
            </div>
            <!-- Care Services -->
          </div>
        </div>
        <div class="col-lg-8 mt-lg-0 mt-5">
          <div class="ms-lg-5">
            <div class="section-title">
              <h2>Your Community Hospital Providing Generations of Caring.</h2>
              <p>For those of you who are serious about having more, doing more, giving more and being more, success is
                achievable with some understanding of what to do, some discipline around planning and execution of those
                plans and belief that you can achieve your desires.</p>
            </div>
            <div class="row">
              <!-- Service-01 START -->
              <div class="col-md-6 mb-5">
                <div class="feature-items">
                  <div class="feature-icon">
                    <i class="flaticon-ambulance"></i>
                  </div>
                  <div class="feature-content">
                    <h6>Fast Ambulance</h6>
                    <p class="mb-0">So how do we get clarity? Simply by asking ourselves lots of questions: What do I
                      really want? What does success look like to me? Why do I want a particular thing? How will this
                      achievement change my life?</p>
                  </div>
                </div>
              </div>
              <!-- Service-01 END -->

              <!-- Service-02 START -->
              <div class="col-md-6 mb-5">
                <div class="feature-items">
                  <div class="feature-icon">
                    <i class="flaticon-liquid-soap"></i>
                  </div>
                  <div class="feature-content">
                    <h6>Care Advice</h6>
                    <p class="mb-0">The best way is to develop and follow a plan. Start with your goals in mind and then
                      work backwards to develop the plan. What steps are required to get you to the goals? Make the plan
                      as detailed as possible.</p>
                  </div>
                </div>
              </div>
              <!-- Service-02 END -->

              <!-- Service-03 START -->
              <div class="col-md-6 mb-5 mb-md-0">
                <div class="feature-items">
                  <div class="feature-icon">
                    <i class="flaticon-microscope"></i>
                  </div>
                  <div class="feature-content">
                    <h6>Modern Laboratory</h6>
                    <p class="mb-0">Try to visualize and then plan for, every possible setback. Commit the plan to paper
                      and then keep it with you at all times. Review it regularly and ensure that every step takes you
                      closer to your Vision and Goals.</p>
                  </div>
                </div>
              </div>
              <!-- Service-03 END -->

              <!-- Service-04 START -->
              <div class="col-md-6 ">
                <div class="feature-items">
                  <div class="feature-icon">
                    <i class="flaticon-transfusion"></i>
                  </div>
                  <div class="feature-content">
                    <h6>Heart Surgery</h6>
                    <p class="mb-0">Along with your plans, you should consider developing an action orientation that
                      will keep you motivated to move forward at all times. This requires a little self-discipline, but
                      is a crucial component to achievement of any kind.</p>
                  </div>
                </div>
              </div>
              <!-- Service-04 END -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
    Service -->

  <!--=================================
    footer -->
  <footer th:replace="~{layout/footer :: footer(className='space-pt bg-light footer')}"></footer>
  <!--=================================
    footer -->

  <!--=================================
    Javascript -->
  <div th:replace="~{fragments :: common-scripts}"></div>
</body>

</html>