<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/head :: head}"></head>

<body>

  <!--=================================
    header -->
  <header th:replace="~{layout/header :: header}"></header>
  <!--=================================
    header -->

  <!--=================================
    banner -->
  <section class="inner-banner bg-light">
    <div class="container">
      <div class="row align-items-center intro-title">
        <div class="col-12">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="index.html"> <i class="fas fa-home"></i> </a></li>
            <li class="breadcrumb-item"> <i class="fas fa-chevron-right"></i> <a href="javascript:void(0)">Pages</a>
            </li>
            <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span> Team </span></li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
    banner -->

  <!--=================================
    Team -->
  <section class="space-ptb">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-md-10 text-center">
          <div class="section-title center-divider mb-5">
            <span class="text-primary">Why choose people like Medleaf</span>
            <h2 class="text-dark">Our Equipped Team Is Able To Support You!</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- team-01 START -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="team">
            <div class="team-image">
              <img class="img-fluid b-radius-bottom-none" src="images/team/01.jpg" alt="">
              <div class="team-social">
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="team-detail b-radius-top-none">
              <span class="team-label">Cardiologist</span>
              <h4 class="team-title"><a href="team-single.html">Dr.Felica Queen</a></h4>
              <span class="team-phone">+(704) 279-1249</span>
              <span class="team-email">letstalk@medileaf.com</span>
            </div>
            <a class="icon-btn" href="#"><i class="fas fa-plus"></i></a>
          </div>
        </div>
        <!-- team-01 END -->

        <!-- team-02 START -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="team">
            <div class="team-image">
              <img class="img-fluid b-radius-bottom-none" src="images/team/02.jpg" alt="">
              <div class="team-social">
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="team-detail b-radius-top-none">
              <span class="team-label">Neurologist</span>
              <h4 class="team-title"><a href="team-single.html">Dr.Alice Williams</a></h4>
              <span class="team-phone">+(704) 279-1249</span>
              <span class="team-email">letstalk@medileaf.com</span>
            </div>
            <a class="icon-btn" href="#"><i class="fas fa-plus"></i></a>
          </div>
        </div>
        <!-- team-02 END -->

        <!-- team-03 START -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="team">
            <div class="team-image">
              <img class="img-fluid b-radius-bottom-none" src="images/team/03.jpg" alt="">
              <div class="team-social">
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="team-detail b-radius-top-none">
              <span class="team-label">Physician Assistant</span>
              <h4 class="team-title"><a href="team-single.html">Dr.Michael Bean</a></h4>
              <span class="team-phone">+(704) 279-1249</span>
              <span class="team-email">letstalk@medileaf.com</span>
            </div>
            <a class="icon-btn" href="#"><i class="fas fa-plus"></i></a>
          </div>
        </div>
        <!-- team-03 END -->

        <!-- team-04 START -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="team">
            <div class="team-image">
              <img class="img-fluid b-radius-bottom-none" src="images/team/04.jpg" alt="">
              <div class="team-social">
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="team-detail b-radius-top-none">
              <span class="team-label">Physician Assistant</span>
              <h4 class="team-title"><a href="team-single.html">Dr.Harry Russell</a></h4>
              <span class="team-phone">+(704) 279-1249</span>
              <span class="team-email">letstalk@medileaf.com</span>
            </div>
            <a class="icon-btn" href="#"><i class="fas fa-plus"></i></a>
          </div>
        </div>
        <!-- team-04 END -->

        <!-- team-05 START -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4 mb-lg-0 ">
          <div class="team">
            <div class="team-image">
              <img class="img-fluid b-radius-bottom-none" src="images/team/05.jpg" alt="">
              <div class="team-social">
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="team-detail b-radius-top-none">
              <span class="team-label">Cardiologist</span>
              <h4 class="team-title"><a href="team-single.html">Dr.Mellissa Doe</a></h4>
              <span class="team-phone">+(704) 279-1249</span>
              <span class="team-email">letstalk@medileaf.com</span>
            </div>
            <a class="icon-btn" href="#"><i class="fas fa-plus"></i></a>
          </div>
        </div>
        <!-- team-05 END -->

        <!-- team-06 START -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4 mb-lg-0">
          <div class="team">
            <div class="team-image">
              <img class="img-fluid b-radius-bottom-none" src="images/team/06.jpg" alt="">
              <div class="team-social">
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="team-detail b-radius-top-none">
              <span class="team-label">Neurologist</span>
              <h4 class="team-title"><a href="team-single.html">Dr.Kim Hamilton</a></h4>
              <span class="team-phone">+(704) 279-1249</span>
              <span class="team-email">letstalk@medileaf.com</span>
            </div>
            <a class="icon-btn" href="#"><i class="fas fa-plus"></i></a>
          </div>
        </div>
        <!-- team-06 END -->

        <!-- team-07 START -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4 mb-md-0">
          <div class="team">
            <div class="team-image">
              <img class="img-fluid b-radius-bottom-none" src="images/team/07.jpg" alt="">
              <div class="team-social">
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="team-detail b-radius-top-none">
              <span class="team-label">Physician Assistant</span>
              <h4 class="team-title"><a href="team-single.html">Dr.Anne Smith</a></h4>
              <span class="team-phone">+(704) 279-1249</span>
              <span class="team-email">letstalk@medileaf.com</span>
            </div>
            <a class="icon-btn" href="#"><i class="fas fa-plus"></i></a>
          </div>
        </div>
        <!-- team-07 END -->

        <!-- team-08 START -->
        <div class="col-xl-3 col-lg-4 col-md-6 mb-0">
          <div class="team">
            <div class="team-image">
              <img class="img-fluid b-radius-bottom-none" src="images/team/08.jpg" alt="">
              <div class="team-social">
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="team-detail b-radius-top-none">
              <span class="team-label">Physician Assistant</span>
              <h4 class="team-title"><a href="team-single.html">Dr.Aaron Sharp</a></h4>
              <span class="team-phone">+(704) 279-1249</span>
              <span class="team-email">letstalk@medileaf.com</span>
            </div>
            <a class="icon-btn" href="#"><i class="fas fa-plus"></i></a>
          </div>
        </div>
        <!-- team-08 END -->
      </div>
    </div>
  </section>
  <!--=================================
    Team -->

  <!--=================================
    Clients -->
  <section class="space-pb clients">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <!-- Owl-carousel -->
          <div class="owl-carousel bg-light p-4" data-nav-arrow="false" data-items="5" data-md-items="4"
            data-sm-items="3" data-xs-items="2" data-xx-items="1" data-space="30" data-autoheight="true">
            <!-- Client-01 START -->
            <div class="item">
              <img class="img-fluid center-block mx-auto" src="images/client/01.svg" alt="">
            </div>
            <!-- Client-01 END -->

            <!-- Client-02 START -->
            <div class="item">
              <img class="img-fluid center-block mx-auto" src="images/client/02.svg" alt="">
            </div>
            <!-- Client-02 END -->

            <!-- Client-03 START -->
            <div class="item">
              <img class="img-fluid center-block mx-auto" src="images/client/03.svg" alt="">
            </div>
            <!-- Client-03 END -->

            <!-- Client-04 START -->
            <div class="item">
              <img class="img-fluid center-block mx-auto" src="images/client/04.svg" alt="">
            </div>
            <!-- Client-04 END -->

            <!-- Client-05 START -->
            <div class="item">
              <img class="img-fluid center-block mx-auto" src="images/client/05.svg" alt="">
            </div>
            <!-- Client-05 END -->

            <!-- Client-06 START -->
            <div class="item">
              <img class="img-fluid center-block mx-auto" src="images/client/06.svg" alt="">
            </div>
            <!-- Client-06 END -->

            <!-- Client-07 START -->
            <div class="item">
              <img class="img-fluid center-block mx-auto" src="images/client/07.svg" alt="">
            </div>
            <!-- Client-07 END -->
          </div>
          <!-- Owl-carousel -->
        </div>
      </div>
    </div>
  </section>
  <!--=================================
    Clients -->

  <!--=================================
    Testimonial -->
  <section class="space-pb">
    <div class="container" style="background-image: url(images/pattern.png);">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <!-- Owl-carousel -->
          <div class="owl-carousel testimonial" data-nav-arrow="false" data-items="1" data-md-items="1"
            data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="0" data-autoheight="true"
            style="background-image: url(images/pattern.png);">
            <!-- Testimonial-01 START -->
            <div class="item">
              <div class="testimonial-item">
                <div class="testimonial-avatar">
                  <img class="img-fluid rounded-circle" src="images/avatar/09.jpg" alt="">
                </div>
                <div class="testimonial-content">
                  I have gotten at least 50 times the value from Medileaf. I will let my mum know about this, she could
                  really make use of Medileaf! Wow what great service, I love it! Medileaf is the real deal!
                </div>
                <div class="testimonial-author">
                  <div class="testimonial-name">
                    <div class="testimonial-quote">
                      <i class="flaticon-left-quote"></i>
                    </div>
                    <h6 class="mb-1">Alice Williams</h6>
                    <span>- Mother.</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- Testimonial-01 END -->

            <!-- Testimonial-02 START -->
            <div class="item">
              <div class="testimonial-item">
                <div class="testimonial-avatar">
                  <img class="img-fluid rounded-circle" src="images/avatar/04.jpg" alt="">
                </div>
                <div class="testimonial-content">
                  We were treated like royalty. Needless to say we are extremely satisfied with the results. Thank you
                  for making it painless, pleasant and most of all hassle free! It fits our needs perfectly.
                </div>
                <div class="testimonial-author">
                  <div class="testimonial-name">
                    <div class="testimonial-quote">
                      <i class="flaticon-left-quote"></i>
                    </div>
                    <h6 class="mb-1">Felica Queen</h6>
                    <span>- Cancer client.</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- Testimonial-02 END -->

            <!-- Testimonial-03 START -->
            <div class="item">
              <div class="testimonial-item">
                <div class="testimonial-avatar">
                  <img class="img-fluid rounded-circle" src="images/avatar/03.jpg" alt="">
                </div>
                <div class="testimonial-content">
                  We've seen amazing results already. Since I invested in Medileaf I made over 100,000 dollars profits.
                  It's the perfect solution for our business. I was amazed at the quality of Medileaf.
                </div>
                <div class="testimonial-author">
                  <div class="testimonial-name">
                    <div class="testimonial-quote">
                      <i class="flaticon-left-quote"></i>
                    </div>
                    <h6 class="mb-1">Paul Flavius</h6>
                    <span>- Heather.</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- Testimonial-03 END -->

            <!-- Testimonial-04 START -->
            <div class="item">
              <div class="testimonial-item">
                <div class="testimonial-avatar">
                  <img class="img-fluid rounded-circle" src="images/avatar/05.jpg" alt="">
                </div>
                <div class="testimonial-content">
                  I love Medileaf. I have gotten at least 50 times the value from Medileaf. I STRONGLY recommend
                  Medileaf to EVERYONE interested in running a successful online business!
                </div>
                <div class="testimonial-author">
                  <div class="testimonial-name">
                    <div class="testimonial-quote">
                      <i class="flaticon-left-quote"></i>
                    </div>
                    <h6 class="mb-1">Harry Russell</h6>
                    <span>- Surgery client.</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- Testimonial-04 END -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
    Testimonial -->


  <!--=================================
    footer-->
  <footer th:replace="~{layout/footer :: footer}"></footer>
  <!--=================================
    footer-->

  <!--=================================
    Javascript -->

  <!-- JS Global Compulsory (Do not remove)-->
  <div th:replace="~{fragments :: common-scripts}"></div>
</body>

</html>