<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="activePage='team-single'">

<head th:replace="~{layout/head :: head}"></head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MJFPBG6S" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!--=================================
    header -->
  <header th:replace="~{layout/header :: header}"></header>
  <!--=================================
    header -->

  <!--=================================
    banner -->
  <section class="inner-banner bg-light">
    <div class="container">
      <div class="row align-items-center intro-title">
        <div class="col-12">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a th:href="@{/}"> <i class="fas fa-home"></i> </a></li>
            <li class="breadcrumb-item"> <i class="fas fa-chevron-right"></i> <a href="javascript:void(0)">portal
                clínico</a>
            </li>
            <li class="breadcrumb-item"> <i class="fas fa-chevron-right"></i> <a href="javascript:void(0)">sobre mí</a>
            </li>
            <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span> Dra. Gloriana Córdoba Quirós
              </span>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
    banner -->

  <!--=================================
    Service-->
  <section class="space-ptb">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-5">
          <div class="team-single">
            <div class="team-single-detail">
              <div class="team-single-img">
                <img class="img-fluid" src="images/team/doctora-teamsingle.jpg" alt="">
              </div>
              <ul class="list-unstyled pb-4">
                <li class="media d-flex">
                  <span>Profesión:</span>
                  <label>Fisioterapia en Suelo Pélvico – Cod. TF557</label>
                </li>
                <li class="media d-flex">
                  <span>Licenciatura:</span>
                  <label>Terapia Física</label>
                </li>
                <li class="media d-flex">
                  <span>Máster:</span>
                  <label>Técnicas Osteopáticas del Aparato Locomotor</label>
                </li>
                <li class="media d-flex">
                  <span>Especialidad:</span>
                  <label>Suelo Pélvico, Fisioterapia Obstétrica Preparto, Post parto y Fisioterapia Masculina</label>
                </li>
                <li class="media d-flex">
                  <span>Experiencia:</span>
                  <label>18 años</label>
                </li>
                <li class="media d-flex">
                  <span>Teléfono:</span>
                  <label>(+506) 8955-4444</label>
                </li>
                <li class="media d-flex">
                  <span>Correo:</span>
                  <label>clinicarajem@gmail.com</label>
                </li>
                <li class="media d-flex">
                  <span>Dirección:</span>
                  <label>Clínica CAOBA, Ciudad Quesada, San Carlos.</label>
                </li>
                <li class="media d-flex mb-0">
                  <span>Síguenos:</span>
                  <label class="social">
                    <a href="https://www.facebook.com/p/Cl%C3%ADnica-Rajem-61560618930313/?locale=fr_CA" target="_blank"
                      rel="noopener noreferrer"> <i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/clinicarajem/" target="_blank" rel="noopener noreferrer"> <i
                        class="fab fa-instagram"></i></a>
                    <a href="https://wa.me/message/U4CGOTTKMNI7O1" target="_blank" rel="noopener noreferrer"> <i
                        class="fab fa-whatsapp"></i></a>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-8 col-lg-7 mt-lg-0 mt-5">
          <div class="section-title mb-4">
            <h2 class="text-dark">Tu bienestar pélvico, respaldado por más de 18 años de experiencia</h2>
            <h6 class="mb-4">Empodérate con el conocimiento y compromiso de un tratamiento especializado. Recuerda: el
              primer paso hacia una mejor calidad de vida es decidirte a cuidar de ti mismo.</h6>
            <p>Para quienes están listos para mejorar, crecer y vivir sin limitaciones, el éxito en el bienestar pélvico
              es alcanzable con la combinación correcta de experiencia, disciplina en el tratamiento y la confianza en
              que puedes transformar tu salud. Al confiar en un equipo comprometido y especializado, descubrirás que
              cada paso hacia tu bienestar se fundamenta en un enfoque personalizado que respeta y potencia tu
              individualidad. Este camino no solo mejora la función física, sino que también fortalece tu autoestima,
              permitiéndote reconectar con tu cuerpo y superar barreras.</p>
          </div>
          <div class="row mb-3">
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li class="mb-2 d-flex"><i class="far fa-plus-square pe-2 text-primary mt-1"></i>El cuidado integral del
                  suelo pélvico no es un misterio. </li>
                <li class="mb-2 d-flex"><i class="far fa-plus-square pe-2 text-primary mt-1"></i>La clave está en la
                  experiencia y en un enfoque personalizado.</li>
                <li class="mb-2 d-flex"><i class="far fa-plus-square pe-2 text-primary mt-1"></i>El primer paso es
                  confiar en quienes saben cómo ayudarte.</li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li class="mb-2 d-flex"><i class="far fa-plus-square pe-2 text-primary mt-1"></i>El camino hacia una
                  salud plena comienza con la confianza.</li>
                <li class="mb-2 d-flex"><i class="far fa-plus-square pe-2 text-primary mt-1"></i>La experiencia y la
                  dedicación se unen para crear soluciones.</li>
                <li class="mb-2 d-flex"><i class="far fa-plus-square pe-2 text-primary mt-1"></i>Da el primer paso y
                  transforma tu bienestar desde adentro. </li>
              </ul>
            </div>
          </div>
          <p>La Dra. Gloriana Córdoba Quirós es una fisioterapeuta con más de 18 años de experiencia, especialista en
            suelo pélvico y máster en Técnicas Osteopáticas del Aparato Locomotor. Licenciada en Terapia Física, ha
            dedicado su carrera a mejorar la calidad de vida de hombres y mujeres mediante el tratamiento de diversas
            patologías, desde incontinencias hasta disfunciones sexuales y rehabilitación postquirúrgica.</p>
          <div class="mt-4 mt-md-4 pe-lg-4">
            <h3 class="mb-4">Mis habilidades</h3>
            <!-- Skill-bar START -->
            <div class="overflow-hidden">
              <!-- Skill-01 START -->
              <div class="skill mb-4">
                <div class="skill-bar" data-percent="95" data-delay="0" data-type="%" style="width: 95%;">
                  <div class="skill-title">Fisioterapia Especializada</div>
                </div>
              </div>
              <!-- Skill-01 END -->

              <!-- Skill-02 START -->
              <div class="skill">
                <div class="skill-bar" data-percent="90" data-delay="0" data-type="%" style="width: 90%;">
                  <div class="skill-title">Rehabilitación Integral</div>
                </div>
              </div>
              <!-- Skill-02 END -->
            </div>
            <!-- Skill-bar END -->
          </div>

        </div>
      </div>
    </div>
  </section>

  <!--=================================
    Testimonial -->
  <!-- <section class="">
    <div class="container" style="background-image: url(images/pattern.png);">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="owl-carousel testimonial" data-nav-arrow="false" data-items="1" data-md-items="1"
            data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="0" data-autoheight="true"
            style="background-image: url(images/pattern.png);">
            <div class="item">
              <div class="testimonial-item">
                <div class="testimonial-avatar">
                  <img class="img-fluid rounded-circle" src="images/avatar/09.jpg" alt="">
                </div>
                <div class="testimonial-content">
                  I have gotten at least 50 times the value from Medileaf. I will let my mum know about this, she could
                  really make use of Medileaf! Wow what great service, I love it! Medileaf is the real deal!
                </div>
                <div class="testimonial-author">
                  <div class="testimonial-name">
                    <div class="testimonial-quote">
                      <i class="flaticon-left-quote"></i>
                    </div>
                    <h6 class="mb-1">Alice Williams</h6>
                    <span>- Mother.</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="testimonial-item">
                <div class="testimonial-avatar">
                  <img class="img-fluid rounded-circle" src="images/avatar/04.jpg" alt="">
                </div>
                <div class="testimonial-content">
                  We were treated like royalty. Needless to say we are extremely satisfied with the results. Thank you
                  for making it painless, pleasant and most of all hassle free! It fits our needs perfectly.
                </div>
                <div class="testimonial-author">
                  <div class="testimonial-name">
                    <div class="testimonial-quote">
                      <i class="flaticon-left-quote"></i>
                    </div>
                    <h6 class="mb-1">Felica Queen</h6>
                    <span>- Cancer client.</span>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="item">
              <div class="testimonial-item">
                <div class="testimonial-avatar">
                  <img class="img-fluid rounded-circle" src="images/avatar/03.jpg" alt="">
                </div>
                <div class="testimonial-content">
                  We've seen amazing results already. Since I invested in Medileaf I made over 100,000 dollars profits.
                  It's the perfect solution for our business. I was amazed at the quality of Medileaf.
                </div>
                <div class="testimonial-author">
                  <div class="testimonial-name">
                    <div class="testimonial-quote">
                      <i class="flaticon-left-quote"></i>
                    </div>
                    <h6 class="mb-1">Paul Flavius</h6>
                    <span>- Heather.</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="testimonial-item">
                <div class="testimonial-avatar">
                  <img class="img-fluid rounded-circle" src="images/avatar/05.jpg" alt="">
                </div>
                <div class="testimonial-content">
                  I love Medileaf. I have gotten at least 50 times the value from Medileaf. I STRONGLY recommend
                  Medileaf to EVERYONE interested in running a successful online business!
                </div>
                <div class="testimonial-author">
                  <div class="testimonial-name">
                    <div class="testimonial-quote">
                      <i class="flaticon-left-quote"></i>
                    </div>
                    <h6 class="mb-1">Harry Russell</h6>
                    <span>- Surgery client.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!--=================================
    Testimonial -->

  <!--=================================
    Quick contact -->
  <!-- <section class="space-pt">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-6">
          <div class="quick-contact-form">
            <h3 class="text-primary">Quick contact</h3>
            <form class="mt-5">
              <div class="row align-items-center">
                <div class="mb-3 col-md-6">
                  <input type="text" class="form-control" id="first-name" placeholder="First Name">
                </div>
                <div class="mb-3 col-md-6">
                  <input type="text" class="form-control" id="last-name" placeholder="Last Name">
                </div>
                <div class="mb-3 col-md-6">
                  <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="mb-3 col-md-6">
                  <input type="text" class="form-control" id="phone" placeholder="Phone Number">
                </div>
                <div class="mb-3 col-lg-12">
                  <textarea class="form-control" rows="5" placeholder="Message"></textarea>
                </div>
                <div class="mb-3 col-sm-12 mb-0">
                  <button type="submit" class="btn btn-outline-primary">Send Your Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-5 col-md-6 text-md-start text-center mt-md-0 mt-5">
          <img class="img-fluid" src="images/team/09.png" alt="">
        </div>
      </div>
    </div>
  </section> -->
  <!--=================================
    Quick contact -->

  <!--=================================
    Schedule -->
  <section class="mb-lg-n6 mb-md-n5 pb-0 pb-sm-4 pb-lg-0">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="schedule shadow">
            <div class="row g-0">
              <div class="col-lg-4">
                <div class="schedule-morden bg-white">
                  <div class="icon">
                    <i class="flaticon-emergency-call"></i>
                  </div>
                  <div class="schedule-morden-content">
                    <h6>Número de contacto</h6>
                    <span class="phone-number h4">+(506) 8955-4444 </span>
                    <p class="mb-0">Comunícate con nosotros para agendar tu cita o resolver cualquier duda. Estamos aquí
                      para ayudarte a recuperar tu bienestar.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="schedule-morden bg-white">
                  <div class="icon">
                    <i class="flaticon-clock"></i>
                  </div>
                  <div class="schedule-morden-content">
                    <h6>Horarios de atención</h6>
                    <div class="opening-hourse">
                      <ul class="list-unstyled">
                        <li>
                          <span>Lunes, Martes y Jueves</span>
                          <div class="time"> 09am - 7pm </div>
                        </li>
                        <li>
                          <span>Miércoles y Viernes</span>
                          <div class="time"> 09am - 5pm </div>
                        </li>
                        <li>
                          <span>Sábado y Domingo</span>
                          <div class="time"> Cerrado </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="schedule-morden last bg-white">
                  <div class="icon">
                    <i class="flaticon-calendar"></i>
                  </div>
                  <div class="schedule-morden-content">
                    <h6>Tabla de horario</h6>
                    <p class="mb-4">Consulta nuestro horario especifico y agenda tu cita con la doctora. Encuentra el
                      momento que mejor se adapte a ti.</p>
                    <a class="btn btn-outline-primary" th:href="@{/timetable}"><i class="fa fa-address-book"></i>Ver
                      Tabla</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
    Schedule -->

  <!--=================================
    footer-->
  <footer th:replace="~{layout/footer :: footer('space-lg-pt bg-light footer')}"></footer>
  <!--=================================
    footer-->

  <!--=================================
    Javascript -->

  <!-- JS Global Compulsory (Do not remove)-->
  <div th:replace="~{fragments :: common-scripts}"></div>

</body>

</html>