<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="activePage='timetable'">

<head th:replace="~{layout/head :: head}"></head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MJFPBG6S" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!--=================================
    header -->
  <header th:replace="~{layout/header :: header}"></header>
  <!--=================================
    header -->

  <!--=================================
    banner -->
  <section class="inner-banner bg-light">
    <div class="container">
      <div class="row align-items-center intro-title">
        <div class="col-12">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a th:href="@{/}"> <i class="fas fa-home"></i> </a></li>
            <li class="breadcrumb-item"> <i class="fas fa-chevron-right"></i> <a href="javascript:void(0)">portal
                clínico</a>
            </li>
            <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span> calendario</span></li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
    banner -->

  <!--=================================
    Timetable -->
  <section class="space-ptb">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="table-responsive time-table">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col"><span>Hora</span></th>
                  <th scope="col" style="min-width: 144px;"><span class="day">Domingo</span><span class="month"
                      th:text="${mesAbreviado}"></span></th>
                  <th scope="col"><span class="day">Lunes</span><span class="month" th:text="${mesAbreviado}">Aug
                      2020</span></th>
                  <th scope="col"><span class="day">Martes</span><span class="month" th:text="${mesAbreviado}">Aug
                      2020</span></th>
                  <th scope="col"><span class="day">Miércoles</span><span class="month" th:text="${mesAbreviado}">Aug
                      2020</span></th>
                  <th scope="col"><span class="day">Jueves</span><span class="month" th:text="${mesAbreviado}">Aug
                      2020</span></th>
                  <th scope="col"><span class="day">Viernes</span><span class="month" th:text="${mesAbreviado}">Aug
                      2020</span></th>
                  <th scope="col" style="min-width: 144px;"><span class="day">Sábado</span><span class="month"
                      th:text="${mesAbreviado}">Aug
                      2020</span></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>09:00am - 10:15am</td>
                  <td class="text-primary bg-light"><span>Cerrado</span></td>
                  <td class="text-white bg-primary"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr.
                      Gloriana Córdoba</span></td>
                  <td class="text-white bg-primary"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr.
                      Gloriana Córdoba</span></td>
                  <td class="text-white bg-primary"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr.
                      Gloriana Córdoba</span></td>
                  <td class="text-white bg-primary"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr.
                      Gloriana Córdoba</span></td>
                  <td class="text-white bg-primary"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr.
                      Gloriana Córdoba</span></td>
                  <td class="text-primary bg-light"><span>Cerrado</span></td>
                </tr>
                <tr>
                  <td>10:15am - 11:30am</td>
                  <td class="text-primary bg-light"><span>Cerrado</span></td>
                  <td class="text-primary"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr. Gloriana
                      Córdoba</span></td>
                  <td class="text-primary"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr. Gloriana
                      Córdoba</span></td>
                  <td class="text-primary"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr. Gloriana
                      Córdoba</span></td>
                  <td class="text-primary"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr. Gloriana
                      Córdoba</span></td>
                  <td class="text-primary"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr. Gloriana
                      Córdoba</span></td>
                  <td class="text-primary bg-light"><span>Cerrado</span></td>
                </tr>
                <tr>
                  <td>11:30am - 12:45pm</td>
                  <td class="text-primary bg-light"><span>Cerrado</span></td>
                  <td class="text-white bg-dark"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr.
                      Gloriana Córdoba</span></td>
                  <td class="text-white bg-dark"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr.
                      Gloriana Córdoba</span></td>
                  <td class="text-white bg-dark"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr.
                      Gloriana Córdoba</span></td>
                  <td class="text-white bg-dark"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr.
                      Gloriana Córdoba</span></td>
                  <td class="text-white bg-dark"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr.
                      Gloriana Córdoba</span></td>
                  <td class="text-primary bg-light"><span>Cerrado</span></td>
                </tr>
                <!-- <tr>
                  <td>12:00pm</td>
                  <td class="text-primary bg-light"><span>Cerrado</span></td>
                  <td class="text-white bg-primary"><span>Almuerzo</span></td>
                  <td class="text-white bg-primary"><span>Almuerzo</span></td>
                  <td class="text-white bg-primary"><span>Almuerzo</span></td>
                  <td class="text-white bg-primary"><span>Almuerzo</span></td>
                  <td class="text-white bg-primary"><span>Almuerzo</span></td>
                  <td class="text-primary bg-light"><span>Cerrado</span></td>
                </tr> -->
                <tr>
                  <td>12:45pm - 2:00pm</td>
                  <td class="text-primary bg-light"><span>Cerrado</span></td>
                  <td class="text-white bg-secondary"><span>Almuerzo</span></td>
                  <td class="text-white bg-secondary"><span>Almuerzo</span></td>
                  <td class="text-white bg-secondary"><span>Almuerzo</span></td>
                  <td class="text-white bg-secondary"><span>Almuerzo</span></td>
                  <td class="text-white bg-secondary"><span>Almuerzo</span></td>
                  <td class="text-primary bg-light"><span>Cerrado</span></td>
                </tr>
                <!-- <tr>
                  <td>2:00pm</td>
                  <td class="text-primary bg-light"><span>Cerrado</span></td>
                  <td class="text-white bg-primary"><span>Almuerzo</span></td>
                  <td class="text-white bg-primary"><span>Almuerzo</span></td>
                  <td class="text-white bg-primary"><span>Almuerzo</span></td>
                  <td class="text-white bg-primary"><span>Almuerzo</span></td>
                  <td class="text-white bg-primary"><span>Almuerzo</span></td>
                  <td class="text-primary bg-light"><span>Cerrado</span></td>
                </tr> -->
                <tr>
                  <td>2:00pm - 3:15pm</td>
                  <td class="text-primary bg-light"><span>Cerrado</span></td>
                  <td class="text-primary"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr. Gloriana
                      Córdoba</span></td>
                  <td class="text-primary"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr. Gloriana
                      Córdoba</span></td>
                  <td class="text-primary"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr. Gloriana
                      Córdoba</span></td>
                  <td class="text-primary"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr. Gloriana
                      Córdoba</span></td>
                  <td class="text-primary"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr. Gloriana
                      Córdoba</span></td>
                  <td class="text-primary bg-light"><span>Cerrado</span></td>
                </tr>
                <tr>
                  <td>3:15pm - 4:30pm</td>
                  <td class="text-primary bg-light"><span>Cerrado</span></td>
                  <td class="text-white bg-dark"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr.
                      Gloriana Córdoba</span></td>
                  <td class="text-white bg-dark"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr.
                      Gloriana Córdoba</span></td>
                  <td class="text-white bg-dark"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr.
                      Gloriana Córdoba</span></td>
                  <td class="text-white bg-dark"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr.
                      Gloriana Córdoba</span></td>
                  <td class="text-white bg-dark"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr.
                      Gloriana Córdoba</span></td>
                  <td class="text-primary bg-light"><span>Cerrado</span></td>
                </tr>
                <tr>
                  <td>4:30pm - 5:45pm</td>
                  <td class="text-primary bg-light"><span>Cerrado</span></td>
                  <td class="text-white bg-primary"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr.
                      Gloriana Córdoba</span></td>
                  <td class="text-white bg-primary"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr.
                      Gloriana Córdoba</span></td>
                  <td class="text-white bg-primary"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr.
                      Gloriana Córdoba</span></td>
                  <td class="text-white bg-primary"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr.
                      Gloriana Córdoba</span></td>
                  <td class="text-white bg-primary"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr.
                      Gloriana Córdoba</span></td>
                  <td class="text-primary bg-light"><span>Cerrado</span></td>
                </tr>
                <tr>
                  <td>5:45pm - 7:00pm</td>
                  <td class="text-primary bg-light"><span>Cerrado</span></td>
                  <td class="text-primary"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr. Gloriana
                      Córdoba</span></td>
                  <td class="text-primary"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr. Gloriana
                      Córdoba</span></td>
                  <td class="text-primary bg-light"><span>Cerrado</span></td>
                  <td class="text-primary"><span>Fisioterapia en Suelo Pélvico</span><span class="small">Dr. Gloriana
                      Córdoba</span></td>
                  <td class="text-primary bg-light"><span>Cerrado</span></td>
                  <td class="text-primary bg-light"><span>Cerrado</span></td>
                </tr>
                <!-- <tr>
                  <td>7:00pm</td>
                  <td class="text-primary bg-light"><span>Cerrado</span></td>
                  <td class="text-primary bg-light"><span>Cerrado</span></td>
                  <td class="text-primary bg-light"><span>Cerrado</span></td>
                  <td class="text-primary bg-light"><span>Cerrado</span></td>
                  <td class="text-primary bg-light"><span>Cerrado</span></td>
                  <td class="text-primary bg-light"><span>Cerrado</span></td>
                  <td class="text-primary bg-light"><span>Cerrado</span></td>
                </tr> -->
                <tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
    Timetable -->

  <!--=================================
    footer-->
  <footer th:replace="~{layout/footer :: footer(className='space-pt bg-light footer')}"></footer>
  <!--=================================
    footer-->

  <!--=================================
    Javascript -->
  <div th:replace="~{fragments :: common-scripts}"></div>

</body>

</html>