<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="activePage='contact-us'">

<head th:replace="~{layout/head :: head}"></head>

<body>
  <!--=================================
    header -->
  <header th:replace="~{layout/header :: header}"></header>
  <!--=================================
    header -->

  <!--=================================
    banner -->
  <section class="inner-banner bg-light">
    <div class="container">
      <div class="row align-items-center intro-title">
        <div class="col-12">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a th:href="@{/}"> <i class="fas fa-home"></i> </a></li>
            <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span> contacto</span></li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
    banner -->

  <!--=================================
    Contact-info-->
  <section class="space-ptb half-overlay left-position position-relative">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 col-md-6 position-relative">
          <!-- Get In Touch -->
          <div class="contact-info">
            <div class="section-title text-sm-start text-center">
              <h3>Contáctanos</h3>
              <p>Déjanos tu mensaje y nos pondremos en contacto contigo lo antes posible.</p>
            </div>

            <!-- Address -->
            <div class="feature-item d-sm-flex d-block text-sm-start text-center">
              <div class="feature-item-icon mb-sm-0 mb-4">
                <i class="flaticon-location"></i>
              </div>
              <div class="feature-item-content">
                <h4 class="feature-item-title">Direccion</h4>
                <span>Ciudad Quesada, San Carlos, 300 m N, 50 m E y 75 m S del Hogar de Ancianos, Clínica CAOBA</span>
              </div>
            </div>
            <!-- Address -->

            <!-- Phone -->
            <div class="feature-item d-sm-flex d-block text-sm-start text-center">
              <div class="feature-item-icon mb-sm-0 mb-4">
                <i class="flaticon-call"></i>
              </div>
              <div class="feature-item-content">
                <h4 class="feature-item-title">Teléfono</h4>
                <span>+(506) 8955-4444</span>
              </div>
            </div>
            <!-- Phone -->

            <!-- Email -->
            <div class="feature-item mb-0 d-sm-flex d-block text-sm-start text-center">
              <div class="feature-item-icon mb-sm-0 mb-4">
                <i class="flaticon-email"></i>
              </div>
              <div class="feature-item-content">
                <h4 class="feature-item-title">Correo Electrónico</h4>
                <span>clinicarajem@gmail.com</span>
              </div>
            </div>
            <!-- Email -->
          </div>
          <!-- Get In Touch -->
        </div>
        <div class="col-lg-7 col-md-6 mt-md-0 mt-5">
          <!-- Contact-form -->
          <div class="contact-form ms-lg-4">
            <div class="section-title">
              <h3 style="text-transform: none;">Nos encantaría saber de ti</h3>
              <p>Tu bienestar es nuestra prioridad. Contáctanos y con gusto responderemos todas tus consultas o dudas.
              </p>
            </div>
            <form id="contactForm" onsubmit="submitFormContact(event)">
              <div class="row align-items-center">
                <div class="mb-3 col-md-6">
                  <input type="text" class="form-control" id="first-name-contact" placeholder="Nombre" required>
                </div>
                <div class="mb-3 col-md-6">
                  <input type="text" class="form-control" id="last-name-contact" placeholder="Apellido" required>
                </div>
                <div class="mb-3 col-md-6">
                  <input type="email" class="form-control" id="email-contact" placeholder="Correo Electrónico" required>
                </div>
                <div class="mb-3 col-md-6">
                  <input type="text" class="form-control" id="phone-contact" placeholder="Teléfono" required>
                </div>
                <div class="mb-3 col-md-12">
                  <input type="text" class="form-control" id="subject-contact" placeholder="Asunto" required>
                </div>
                <div class="mb-3 col-lg-12">
                  <textarea class="form-control" rows="5" id="message-contact" placeholder="Mensaje"></textarea>
                </div>
                <div class="mb-3 col-sm-12 mb-0">
                  <button type="submit" class="btn btn-outline-primary">Enviar Mensaje</button>
                </div>
              </div>
            </form>
          </div>
          <!-- CSontact-form -->
        </div>
      </div>
    </div>
  </section>
  <!--=================================
    Contact-info-->

  <!--=================================
    Map -->
  <section class="">
    <div class="container-fluid p-0">
      <div class="row g-0">
        <div class="col-lg-12">
          <div class="map">
            <!-- iframe START -->
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2525.1518385396325!2d-84.43011388363797!3d10.333037047242959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0651bfa5c3449%3A0xa7f5a3b4ff741527!2sCentro%20M%C3%A9dico%20CAOBA!5e0!3m2!1ses!2scr!4v1741901720487!5m2!1ses!2scr"
              width="100%" height="100%" style="border:0;" allowfullscreen=""></iframe>
            <!-- iframe END -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
    Map -->

  <!--=================================
    footer -->
  <footer th:replace="~{layout/footer :: footer('space-pt footer')}"></footer>
  <!--=================================
    footer -->

  <!--=================================
    Javascript -->
  <div th:replace="~{fragments :: common-scripts}"></div>

</body>

</html>