<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="activePage='departments'">

<head th:replace="~{layout/head :: head}"></head>

<body>
  <!--=================================
    header -->
  <header th:replace="~{layout/header :: header}"></header>
  <!--=================================
    header -->

  <!--=================================
    banner -->
  <section class="inner-banner bg-light">
    <div class="container">
      <div class="row align-items-center intro-title">
        <div class="col-12">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a th:href="@{/}"> <i class="fas fa-home"></i> </a></li>
            <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span> departamentos </span></li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
    banner -->

  <!--=================================
    Departments -->
  <section class="space-ptb">
    <div class="container">
      <div class="row">
        <!-- Departments-01 START -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="departments-items h-100">
            <div class="departments-img">
              <img class="img-fluid" th:src="@{/images/departments/01.jpg}" alt="">
            </div>
            <div class="departments-content">
              <div class="departments-icon"><i class="flaticon-pregnant"></i></div>
              <h5 class="text-primary">Gynecology</h5>
              <p class="mb-0">When asked the question, responses will be superficial at best, and at worst.</p>
            </div>
          </div>
        </div>
        <!-- Departments-01 END -->

        <!-- Departments-02 START -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="departments-items h-100">
            <div class="departments-img">
              <img class="img-fluid" th:src="@{/images/departments/02.jpg}" alt="">
            </div>
            <div class="departments-content">
              <div class="departments-icon"><i class="flaticon-joint"></i></div>
              <h5 class="text-primary">Orthopaedics</h5>
              <p class="mb-0">The sad thing is the majority of people have no clue about what they truly want.</p>
            </div>
          </div>
        </div>
        <!-- Departments-02 END -->

        <!-- Departments-03 START -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="departments-items h-100">
            <div class="departments-img">
              <img class="img-fluid" th:src="@{/images/departments/03.jpg}" alt="">
            </div>
            <div class="departments-content">
              <div class="departments-icon"><i class="flaticon-brain"></i></div>
              <h5 class="text-primary">Neurology</h5>
              <p class="mb-0">Trying to go through life without clarity is similar to sailing</p>
            </div>
          </div>
        </div>
        <!-- Departments-03 END -->

        <!-- Departments-04 START -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="departments-items h-100">
            <div class="departments-img">
              <img class="img-fluid" th:src="@{/images/departments/04.jpg}" alt="">
            </div>
            <div class="departments-content">
              <div class="departments-icon"><i class="flaticon-eye"></i></div>
              <h5 class="text-primary">Eye Care</h5>
              <p class="mb-0">You are going on a cruise, but when the ship sets sail, you discover it has no rudder.</p>
            </div>
          </div>
        </div>
        <!-- Departments-04 END -->

        <!-- Departments-05 START -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="departments-items h-100">
            <div class="departments-img">
              <img class="img-fluid" th:src="@{/images/departments/05.jpg}" alt="">
            </div>
            <div class="departments-content">
              <div class="departments-icon"><i class="flaticon-medicine"></i></div>
              <h5 class="text-primary">Medicine</h5>
              <p class="mb-0">Reflect and experiment until you find the right combination of motivators</p>
            </div>
          </div>
        </div>
        <!-- Departments-05 END -->

        <!-- Departments-06 START -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="departments-items h-100">
            <div class="departments-img">
              <img class="img-fluid" th:src="@{/images/departments/06.jpg}" alt="">
            </div>
            <div class="departments-content">
              <div class="departments-icon"><i class="flaticon-tooth-1"></i></div>
              <h5 class="text-primary">Dental Care</h5>
              <p class="mb-0">Use a past defeat as a motivator. Remind yourself you have nowhere</p>
            </div>
          </div>
        </div>
        <!-- Departments-06 END -->

        <!-- Departments-07 START -->
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <div class="departments-items h-100">
            <div class="departments-img">
              <img class="img-fluid" th:src="@{/images/departments/07.jpg}" alt="">
            </div>
            <div class="departments-content">
              <div class="departments-icon"><i class="flaticon-medical-report"></i></div>
              <h5 class="text-primary">Pediatric</h5>
              <p class="mb-0">It must come from within as the natural product of your desire to achieve something.</p>
            </div>
          </div>
        </div>
        <!-- Departments-07 END -->

        <!-- Departments-08 START -->
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <div class="departments-items h-100">
            <div class="departments-img">
              <img class="img-fluid" th:src="@{/images/departments/08.jpg}" alt="">
            </div>
            <div class="departments-content">
              <div class="departments-icon"><i class="flaticon-kidneys"></i></div>
              <h5 class="text-primary">Urology</h5>
              <p class="mb-0">Something that someone else can give you you are the only one with the power to motivate
                you.</p>
            </div>
          </div>
        </div>
        <!-- Departments-08 END -->

        <!-- Departments-09 START -->
        <div class="col-lg-4 col-md-6 mb-0">
          <div class="departments-items h-100">
            <div class="departments-img">
              <img class="img-fluid" th:src="@{/images/departments/09.jpg}" alt="">
            </div>
            <div class="departments-content">
              <div class="departments-icon"><i class="flaticon-electrocardiogram"></i></div>
              <h5 class="text-primary">Cardiology</h5>
              <p class="mb-0">I truly believe Augustine’s words are true and if you look at history you know it is true.
              </p>
            </div>
          </div>
        </div>
        <!-- Departments-09 END -->
      </div>
    </div>
  </section>
  <!--=================================
    Departments -->

  <!--=================================
    Testimonial -->
  <section class="space-pb">
    <div class="container" style="background-image: url(images/pattern.png);">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <!-- Owl-carousel -->
          <div class="owl-carousel testimonial" data-nav-arrow="false" data-items="1" data-md-items="1"
            data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="0" data-autoheight="true"
            style="background-image: url(images/pattern.png);">
            <!-- Testimonial-01 START -->
            <div class="item">
              <div class="testimonial-item">
                <div class="testimonial-avatar">
                  <img class="img-fluid rounded-circle" th:src="@{/images/avatar/09.jpg}" alt="">
                </div>
                <div class="testimonial-content">
                  I have gotten at least 50 times the value from Medileaf. I will let my mum know about this, she could
                  really make use of Medileaf! Wow what great service, I love it! Medileaf is the real deal!
                </div>
                <div class="testimonial-author">
                  <div class="testimonial-name">
                    <div class="testimonial-quote">
                      <i class="flaticon-left-quote"></i>
                    </div>
                    <h6 class="mb-1">Alice Williams</h6>
                    <span>- Mother.</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- Testimonial-01 END -->

            <!-- Testimonial-02 START -->
            <div class="item">
              <div class="testimonial-item">
                <div class="testimonial-avatar">
                  <img class="img-fluid rounded-circle" th:src="@{/images/avatar/04.jpg}" alt="">
                </div>
                <div class="testimonial-content">
                  We were treated like royalty. Needless to say we are extremely satisfied with the results. Thank you
                  for making it painless, pleasant and most of all hassle free! It fits our needs perfectly.
                </div>
                <div class="testimonial-author">
                  <div class="testimonial-name">
                    <div class="testimonial-quote">
                      <i class="flaticon-left-quote"></i>
                    </div>
                    <h6 class="mb-1">Felica Queen</h6>
                    <span>- Cancer client.</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- Testimonial-02 END -->

            <!-- Testimonial-03 START -->
            <div class="item">
              <div class="testimonial-item">
                <div class="testimonial-avatar">
                  <img class="img-fluid rounded-circle" th:src="@{/images/avatar/03.jpg}" alt="">
                </div>
                <div class="testimonial-content">
                  We've seen amazing results already. Since I invested in Medileaf I made over 100,000 dollars profits.
                  It's the perfect solution for our business. I was amazed at the quality of Medileaf.
                </div>
                <div class="testimonial-author">
                  <div class="testimonial-name">
                    <div class="testimonial-quote">
                      <i class="flaticon-left-quote"></i>
                    </div>
                    <h6 class="mb-1">Paul Flavius</h6>
                    <span>- Heather.</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- Testimonial-03 END -->

            <!-- Testimonial-04 START -->
            <div class="item">
              <div class="testimonial-item">
                <div class="testimonial-avatar">
                  <img class="img-fluid rounded-circle" th:src="@{/images/avatar/05.jpg}" alt="">
                </div>
                <div class="testimonial-content">
                  I love Medileaf. I have gotten at least 50 times the value from Medileaf. I STRONGLY recommend
                  Medileaf to EVERYONE interested in running a successful online business!
                </div>
                <div class="testimonial-author">
                  <div class="testimonial-name">
                    <div class="testimonial-quote">
                      <i class="flaticon-left-quote"></i>
                    </div>
                    <h6 class="mb-1">Harry Russell</h6>
                    <span>- Surgery client.</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- Testimonial-04 END -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--=================================
    Testimonial -->

  <!--=================================
    Schedule -->
  <section class="space-pt mb-lg-n6 mb-md-n5 pb-0 pb-sm-4 pb-lg-0">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="schedule shadow">
            <div class="row g-0">
              <div class="col-lg-4">
                <div class="schedule-morden bg-white">
                  <div class="icon">
                    <i class="flaticon-emergency-call"></i>
                  </div>
                  <div class="schedule-morden-content">
                    <h6>Número de contacto</h6>
                    <span class="phone-number h4">+(506) 8955-4444 </span>
                    <p class="mb-0">Comunícate con nosotros para agendar tu cita o resolver cualquier duda. Estamos aquí
                      para ayudarte a recuperar tu bienestar.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="schedule-morden bg-white">
                  <div class="icon">
                    <i class="flaticon-clock"></i>
                  </div>
                  <div class="schedule-morden-content">
                    <h6>Horarios de atención</h6>
                    <div class="opening-hourse">
                      <ul class="list-unstyled">
                        <li>
                          <span>Lunes, Martes y Jueves</span>
                          <div class="time"> 09am - 7pm </div>
                        </li>
                        <li>
                          <span>Miércoles y Viernes</span>
                          <div class="time"> 09am - 5pm </div>
                        </li>
                        <li>
                          <span>Sábado y Domingo</span>
                          <div class="time"> Cerrado </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="schedule-morden last bg-white">
                  <div class="icon">
                    <i class="flaticon-calendar"></i>
                  </div>
                  <div class="schedule-morden-content">
                    <h6>Tabla de horario</h6>
                    <p class="mb-4">Consulta nuestro horario especifico y agenda tu cita con la doctora. Encuentra el
                      momento que mejor se adapte a ti.</p>
                    <a class="btn btn-outline-primary" href="timetable.html"><i class="fa fa-address-book"></i>Ver
                      Tabla</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
    Schedule -->

  <!--=================================
    footer -->
  <footer th:replace="~{layout/footer :: footer('space-lg-pt bg-light footer')}"></footer>
  <!--=================================
    footer -->

  <!--=================================
    Javascript -->
  <div th:replace="~{fragments :: common-scripts}"></div>

</body>

</html>